# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
*.env
.env.docker

# Django
db.sqlite3
/staticfiles
/media
*.log

# Editor
.vscode/
.idea/
.DS_Store
